.list {
  display: flex;
  background-color: #ffffff;
  border: 1px solid #ddd;
  justify-content: space-between;
  flex: 0 1 80%;
  height: 3rem;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.circle {
  border: 1px solid #dddddd;
  box-sizing: border;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
.circle:hover {
}
