.card {
  max-height: 400px;
  overflow: auto;
  margin: 0 20px;
}

.describe {
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
}

.demo {
  border: 1px solid #ddd;
  padding: 5px 10px;
}

.demo > p {
  border: 1px dashed #ccc;
  padding: 10px;
}
.demoTitle {
  text-indent: 5em;
}
